{% extends "alumnos/base.html" %}
{% block content %}
<h1>Agregar Alumnos</h1>
{% if mensaje %}
    <div class="alert alert-primary" role="alert" id="idMensaje">
      {{mensaje}}
    </div>
    {%endif%}
    <div class="container">
        <div class="row">
         

          <form action="" method="post">
            {% csrf_token%} 

            <pre>Rut <input type="text" name="rut"></pre>
            <pre>Nombre <input type="text" name="nombre"></pre>
            <pre>Apellido Paterno <input type="text" name="apaterno"></pre>
            <pre>Apellido Materno <input type="text" name="amaterno"></pre>
            <pre>Fecha Nacimiento <input type="date" name="fechaNac"></pre>
            <pre>Genero <select name="genero" id="genero">
                {% for genero in generos %}
                <option value="{{genero.id_genero}}">{{genero.genero}}</option>
                {% endfor %}
            </select></pre>
            <pre>Celular: <input type="text" name="telefono"></pre>
            <pre>Email : <input type="text" name="email"></pre>
            <pre>Direccion: <input type="text" name="direccion"></pre>

            <input type="submit" value="Agregar">

          </form>
          

 
        </div>
        
    </div>
    <a href="{%url 'crud'%}">Volver</a>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
    $(document).ready(function(){
      $("#idMensaje").delay(2000).fadeOut("slow");
    })
  </script>
    </div>












{% endblock %}