{% extends "alumnos/base.html" %}
{% block content %}
    <br>
    <button class="btn btn-primary">
        <a href="{% url 'alumnosAdd' %}" style="text-decoration: none; color: black;">Agregar</a>
    </button>
    <br>
    <br>
    {%if mensaje%}
    <div id="idMensaje">
            {{mensaje}}
    </div>
    {%endif%}
    <table class="table table-dark">
        {%if alumnos%}
        <thead>
          <tr>
            <th scope="col">Rut</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido Paterno</th>
            <th scope="col">Borrar</th>
            <th scope="col">Modificar</th>
          </tr>
        </thead>
        
        <tbody>
            {%for alumno in alumnos%}
          <tr>
            <th scope="row">{{alumno.rut}}</th>
            <td>{{alumno.nombre}}</td>
            <td>{{alumno.apellido_paterno}}</td>
            <td><a href="{%url 'alumnos_del' pk=alumno.rut%}">Eliminar</a></td>
            <td><a href="{%url 'alumnos_findEdit' pk=alumno.rut%}">Modificar</a></td>
          </tr>
          {%endfor%}
        </tbody>
        {%endif%}
      </table>   

{% endblock %}