{% extends "alumnos/base.html" %}
{% block content %}
{%load static%}
    <h1>MUNDO OLA</h1>
    <br>
    <img src="{%static 'img/patito.png'%}" alt="">
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Rut</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido Paterno</th>
            <th scope="col">Apellido Materno</th>
            <th scope="col">Genero</th>
          </tr>
        </thead>
        
        <tbody>
            {%for alumno in alumnos%}
          <tr>
            <th scope="row">{{alumno.rut}}</th>
            <td>{{alumno.nombre}}</td>
            <td>{{alumno.apellido_paterno}}</td>
            <td>{{alumno.id_genero.genero}}</td>
            <td>{{alumno.id_genero.genero}}</td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
      








{% endblock %}